[Unit]
Description=ttyd server

[Service]
Type=simple
ExecStart=/usr/local/bin/ttyd -W -p 800 /bin/login
Restart=always

[Install]
WantedBy=multi-user.target